body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #283136;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	position: relative;

	width: 1440px;
	margin: 0 auto;
}
/*----------------------------------------------*/
.main-header {
	position: absolute;
	box-sizing: border-box;

	width: 100%;
	padding: 49px 140px 0 140px;

	background-color: #eeeeee;
}

.site-navigation, .user-navigation {
	list-style: none;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.main-navigation ul {
	margin: 0;
	margin-top: 26px; 
}

.main-header-logo {
	cursor: pointer;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation {
	display: flex;

	margin: 0;
	padding: 0; 
}

.main-navigation a {
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #000000;

	opacity: 0.3;
}

.site-navigation li {
	margin-right: 49px;
}

.user-navigation-item::before {
	content: "";
	position: absolute;

	width: 15px;
	height: 15px;
	margin-left: -40px;
	margin-top: 7px;  
	background-image: url("../img/cart-icon.svg");
}
/*----------------------------------------------*/
.slider {
	min-height: 430px;
	padding: 114px 171px 0 140px;

	background-color: #eeeeee;
}

.slider-details {
	padding-top: 78px; 

	padding-bottom: 80px;

	background: url("../img/slide1.png") no-repeat bottom right;
}

.slider-details b {
	display: block;

	max-width: 518px;
	margin-bottom: 25px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slider-details p {
	display: block;

	max-width: 411px;
	margin: 0;
	margin-bottom: 40px;

	font-size: 16px;
	line-height: 24px;
}

.slider-details a {
	display: inline-block;

	padding: 17px 55px 15px 54px;

	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;

	background-color: #fb565a;

	border-radius: 2px;
}

.slider-details a:hover {
	background-color: #e74246;
}

.slider-details a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}
/*----------------------------------------------*/
.advantages {
	padding: 80px 200px 82px 140px;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.advantages-item {
	padding-right: 53px;
}

.advantages-item  h3 {
	margin-top: 171px;
	margin-bottom: 16px;

	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

.advantages-item  h3::before {
	content: "";
	position: absolute;

	width: 300px;
	height: 146px;
	margin-left: 0px;
	margin-top: -171px;  
	background-image: url("../img/illustration-1.png");
}

.advantages-item:nth-child(3n+2)  h3::before {
	background-image: url("../img/illustration-2.png");
}

.advantages-item:nth-child(3n+3)  h3::before {
	background-image: url("../img/illustration-3.png");
}

.advantages-item  p {
	display: block;

	max-width: 247px;
	margin: 0;
	margin-bottom: 32px;

	color: #000000;
}

.advantages-item  a {
	display: inline-block;

	padding: 17px 40px 15px 40px;

	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;

	background-color: #fb565a;

	border-radius: 2px;
}

.advantages-item:nth-child(3n+2) a {
	background-color: #00ca74;
}

.advantages-item:nth-child(3n+3) a {
	background-color: #efc84a;
}

.advantages-item  a:hover {
	background-color: #e74246;
}

.advantages-item  a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}

.advantages-item:nth-child(3n+2) a:hover {
	background-color: #00bc6c;
}

.advantages-item:nth-child(3n+2) a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #00aa62;
}

.advantages-item:nth-child(3n+3) a:hover {
	background-color: #eab534;
}

.advantages-item:nth-child(3n+3) a:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #e5a722;
}

.advantages::after {
	content: "";
	position: absolute;
	display: block;

	width: 1160px;
	height: 2px;
	margin-top: 80px;  

	background-color: #eeeeee;
}
/*----------------------------------------------*/
.excellence {
	padding: 40px 140px 75px 140px;
}

.excellence-wrapper {
	display: flex;
	justify-content: space-between;
}

.services b {
	display: block;

	max-width: 662px;
	margin-top: 34px;
	margin-bottom: 33px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.services p {
	display: block;

	max-width: 621px;
	margin: 0;
	margin-bottom: 39px;
}

.services .services-list {
	display: block;

	max-width: 315px;
	margin: 0;
	margin-bottom: 24px;

	text-transform: uppercase;
	color: #000000;
}

.services ul {
	margin: 0;
	padding-left: 36px;

	list-style: none;
}

.services li:not(:first-child) {
	margin-top: 24px;
}

.services li::before {
	content: "";
	position: absolute;

	width: 25px;
	height: 2px;
	margin-left: -35px;
	margin-top: 11px;  
	background-color: #fb565a;
}

.nerds-illustration {
	width: 360px;
	height: 208px;

	margin-left: auto;

	background-image: url("../img/nerds-illustration.jpg");
	background-repeat: no-repeat;
}

.excellence-details p {
	margin: 0;
	margin-top: 36px;
	margin-left: 19px;
	margin-bottom: 39px; 

	text-transform: uppercase;
	color: #000000;
}

.excellence-details table {
	width: 362px;
}

.excellence-details td {
	width: 119px;
	padding: 0;
}

.percent {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000000;
}

.percent span {
	display: inline-block;

	vertical-align: top;

	font-size: 25px;
	line-height: 25px;
	font-weight: 700;
}

.percent td {
	padding-bottom: 18px;
}

.why {
	line-height: 18px;
}

.excellence .border {
	position: absolute;
	display: block;

	width: 1160px;
	height: 2px;
	margin-top: 73px;  

	background-color: #eeeeee;
}
/*----------------------------------------------*/
.clients {
	padding: 46px 139px 46px 141px;
}

.clients-list {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0;
	padding: 0;

	list-style: none;
}

.client-item {
	position: relative;

	width: 260px;
}

.client-item img {
	display: block;

	margin: 0 auto;

	opacity: 0.2;
}

.client-item a:hover img{
	opacity: 1;
}

.client-item a:active img{
	opacity: 0.2;
}

.client-item:nth-child(1) img {
	transform: translate(0, 5px);
}

.client-item:nth-child(4) img {
	transform: translate(0, 3px);
}

.client-item:not(:nth-child(4n+1))::before {
	content: "";
	position: absolute;
	display: block;

	width: 2px;
	height: 52px;
	top: 50%;

	background-color: #eeeeee;

	transform: translate(-22px, -50%);
}

.clients .border {
	position: absolute;
	display: block;

	width: 1160px;
	height: 2px;
	margin-top: 44px;  

	background-color: #eeeeee;
}
/*----------------------------------------------*/
.main-footer {
	position: relative;

	padding-top: 80px;
}

.map {
	position: relative;

	width: 1440px; 
	height: 416px;

	background: #eeeeee url("../img/map.jpg") no-repeat;
}

.write-us {
	position: absolute;

	padding: 49px 50px 47px 50px;

	top: 54px;
	left: 140px;

	background-color: #ffffff;
}

.write-us b {
	display: inline-block;

	margin: 0;
	margin-bottom: 24px;

	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.write-us p {
	width: 205px;
	margin: 0;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #666666;
}

.write-us .adress-wrapper {
	margin-bottom: 17px; 
}

.write-us .phone-wrapper {
	margin-bottom: 37px;
}

.write-us a {
	display: inline-block;

	padding: 17px 44px 15px 45px;

	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;

	background-color: #fb565a;

	border-radius: 2px;
}

.write-us a:hover {
	background-color: #e74246;
}

.write-us a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}


.footer-social {
	display: flex;

	padding: 69px 0px 63px 141px; 
}

.social-button-list {
	display: flex;

	margin: 0;
	padding: 0; 
	margin-right: 128px;

	list-style: none;
}

.social-button-items {
	margin-right: 12px;
}

.social-button {
	display: inline-block;

	position: relative;
}

.social-button::after {
	content: "";
	position: absolute;
	display: block;
	
	top: 50%;
	left: 50%;
	 
	transform: translate(-50%, -75%);
}

.social-button-items:nth-child(1) .social-button::after {
	width: 26px;
	height: 15px;

	background-image: url("../img/vk-icon.svg");
}

.social-button-items:nth-child(2) .social-button::after {
	width: 12px;
	height: 21px;

	background-image: url("../img/fb-icon.svg");
}

.social-button-items:nth-child(3) .social-button::after {
	width: 21px;
	height: 21px;

	background-image: url("../img/insta-icon.svg");
}

.social-button:hover circle {
	fill: #e74246;
}

.social-button:active circle {
	fill: #d7373b;
}

.social-button:active::after {
	opacity: 0.3;
}

.discount b {
	display: block;

	margin: 0;
	margin-top: 6px;

	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.discount p {
	margin: 0;
	margin-top: 10px;
	margin-left: 1px; 

	line-height: 22px;
	color: #444444;
}
/*----------------------------------------------*/
.modal {
	position: absolute;

	top: -57px;
	left: 50%;
	padding: 67px 100px 84px 98px;

	background-color: #eeeeee;

	transform: translateX(-50%);

	box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75); 

	z-index: 10;
}

.modal-hide {
	display: none;
}

.modal p {
	margin: 0;
	margin-bottom: 42px;

	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.data {
	display: flex;
	justify-content: space-between;

	width: 762px;
}

.data label {
	display: block;

	margin-left: 2px;
	margin-bottom: 10px;

	font: inherit;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	color: #000000;
}


.data input {
	width: 343px;
	height: 44px;
	margin-left: 2px;
	padding-left: 13px;

	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;

	border-width: 2px;
	border-radius: 2px;
	border-style: solid;
	border-color: #dbdcde;
}

.data input:hover {
	border-color: #b4b8b9;
}

.data input:focus {
	border-color: #000000;

	outline: none;
}

.letter label {
	display: block;

	margin-top: 34px;
	margin-left: 2px;
	margin-bottom: 11px;

	font: inherit;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	color: #000000;
}

.letter textarea {
	width: 742px;
	height: 102px;
	margin-left: 2px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-left: 12px;

	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #444444;

	border-width: 2px;
	border-radius: 2px;
	border-color: #dbdcde;
}

.letter textarea:hover {
	border-color: #b4b8b9;
}

.letter textarea:focus {
	border-color: #000000;

	outline: none;
}


.close {
	position: absolute;
	top: 78px;
	right: 84px;

	background: none; 
	border: none;
}

.close:hover path {
	fill: #ff5255;
}

.close:active path {
	fill: #fff1f1;
}

.feedback {
	margin-left: 2px;
	padding: 16px 86px 16px 82px;

	font: inherit;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;

	background-color: #fb565a;

	border-style: none;
	border-radius: 2px;
}

.feedback:hover {
	background-color: #e74246;
}

.feedback:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}