body {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	color: #283136;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	position: relative;

	width: 1440px;
	margin: 0 auto;
}
/*----------------------------------------------*/
.main-header {
	position: absolute;
	box-sizing: border-box;

	width: 100%;
	padding: 49px 140px 0 140px;

	background-color: #eeeeee;
}

.site-navigation, .user-navigation {
	list-style: none;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
}

.main-navigation ul {
	margin: 0;
	margin-top: 26px; 
}

.main-header-logo {
	cursor: pointer;
}

.main-header-logo:active {
	opacity: 0.3;
}

.site-navigation {
	display: flex;
}

.main-navigation a {
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 500;
	color: #000000;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #000000;

	opacity: 0.3;
}

.site-navigation li {
	margin-right: 49px;
}

.user-navigation-item::before {
	content: "";
	position: absolute;

	width: 15px;
	height: 15px;
	margin-left: -40px;
	margin-top: 7px;  
	background-image: url("../img/cart-icon.svg");
}
/*----------------------------------------------*/
.slider {
	min-height: 430px;
	padding: 114px 171px 0 140px;

	background-color: #eeeeee;
}

.slider-details {
	padding-top: 78px; 

	padding-bottom: 80px;

	background: url("../img/slide1.png") no-repeat bottom right;
}

.slider-details b {
	display: block;

	max-width: 518px;
	margin-bottom: 25px;

	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slider-details p {
	display: block;

	max-width: 411px;
	margin: 0;
	margin-bottom: 40px;

	font-size: 16px;
	line-height: 24px;
}

.slider-details a {
	display: inline-block;

	padding: 16px 55px 16px 54px;

	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;

	background-color: #fb565a;

	border-radius: 2px;
}

.slider-details a:hover {
	background-color: #e74246;
}

.slider-details a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}
/*----------------------------------------------*/
.advantages {
	/*margin-top: 147px;*/
	padding: 80px 200px 80px 140px;

	border-bottom: 2px solid #eeeeee;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.advantages-item {
	padding-right: 53px;
}

.advantages-item  h3 {
	margin-top: 171px;
	margin-bottom: 16px;

	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
}

.advantages-item  h3::before {
	content: "";
	position: absolute;

	width: 300px;
	height: 146px;
	margin-left: 0px;
	margin-top: -171px;  
	background-image: url("../img/illustration-1.png");
}

.advantages-item:nth-child(3n+2)  h3::before {
	background-image: url("../img/illustration-2.png");
}

.advantages-item:nth-child(3n+3)  h3::before {
	background-image: url("../img/illustration-3.png");
}

.advantages-item  p {
	display: block;

	max-width: 247px;
	margin: 0;
	margin-bottom: 32px;

	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.advantages-item  a {
	display: inline-block;

	padding: 17px 40px 15px 40px;

	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 500;
	color: #ffffff;

	background-color: #fb565a;

	border-radius: 2px;
}

.advantages-item:nth-child(3n+2) a {
	background-color: #00ca74;
}

.advantages-item:nth-child(3n+3) a {
	background-color: #efc84a;
}

.advantages-item  a:hover {
	background-color: #e74246;
}

.advantages-item  a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #d7373b;
}

.advantages-item:nth-child(3n+2) a:hover {
	background-color: #00bc6c;
}

.advantages-item:nth-child(3n+2) a:active {
	color: rgba(255, 255, 255, 0.3);

	background-color: #00aa62;
}

.advantages-item:nth-child(3n+3) a:hover {
	background-color: #eab534;
}

.advantages-item:nth-child(3n+3) a:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #e5a722;
}


